<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2015 Freie Universitaet Berlin, Department of
    Computer Science. All rights reserved.
   
    This file is part of the Corporate Smart Content Project.
   
    This work has been partially supported by the InnoProfile-Transfer
    Corporate Smart Content project funded by the German Federal Ministry
    of Education and Research (BMBF) and the BMBF Innovation Initiative
    for the New German Laender - Entrepreneurial Regions.
   
    <http://sce.corporate-smart-content.de/>
   
    Copyright (c) 2013-2016,
   
    Freie Universitaet Berlin
    Institut für Informatik
    Corporate Semantic Web group
    Koenigin-Luise-Strasse 24-26
    14195 Berlin
    <http://www.mi.fu-berlin.de/en/inf/groups/ag-csw/>
   
    This library is free software; you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 3 of the
    License, or (at your option) any later version. This library is
    distributed in the hope that it will be useful, but WITHOUT ANY
    WARRANTY; without even the implied warranty of MERCHANTABILITY or
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
    License for more details.
   
    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
    USA or see <http://www.gnu.org/licenses/>.
 -->

<plugin>
  
   <extension
         id="AspectInferenceViewComponent"
         name="Inferred Aspects"
         point="org.protege.editor.core.application.ViewComponent">
      <label
            value="Ontology Aspects">
      </label>
      <class
            value="de.fuberlin.csw.aspectowl.protege.InferredAspectViewComponent">
      </class>
      <category
            value="@org.protege.ontologycategory">
      </category>
   </extension>
   <extension
         id="VersioningWorkspaceTab"
         point="org.protege.editor.core.application.WorkspaceTab">
      <label
            value="Aspects">
      </label>
      <class
            value="de.fuberlin.csw.aspectowl.protege.AspectWorkspaceTab">
      </class>
      <index
            value="X">
      </index>
      <editorKitId
            value="OWLEditorKit">
      </editorKitId>
      <defaultViewConfigFileName
            value="Aspects.layout.xml">
      </defaultViewConfigFileName>
   </extension>
   <extension
         id="AspectSparqlQueryView"
         name="Aspect SPARQL Query"
         point="org.protege.editor.core.application.ViewComponent">
      <label
            value="Ontology Aspect Quantification with SPARQL">
      </label>
      <class
            value="de.fuberlin.csw.aspectowl.protege.AspectSparqlQueryViewComponent">
      </class>
      <category
            value="@org.protege.ontologycategory">
      </category>
   </extension>
   <extension
         id="menu.file.SaveOntologyModule"
         name="SaveOntologyModule"
         point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Save ontology module"/>
        <toolTip value="Save ontology module"/>
        <class value="de.fuberlin.csw.aspectowl.protege.SaveOntologyModuleAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAB-Z"/>
        <editorKitId value="any"/>
        <accelerator value="shift S"/>
    </extension>

</plugin>
